**/__pycache__
**/cache
**/distro
*.bak
ExoDOSConverter.iml
**/.idea
**/venv
name_mapping.txt
*.IDX
*.idx
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/PKG-00.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/warn-main.txt
build/main/xref-main.html
dist/main.exe
ExoDOSConverter.exe
main.spec
